@model IEnumerable<Project2.Models.HoaDon>

@{
    ViewData["Title"] = "Danh sách hóa đơn";
}

<h2>Danh sách hóa đơn</h2>

<div id="hoaDonTable">
    @await Html.PartialAsync("_HoaDonList", Model)
</div>

<p>
    <a asp-action="Create" class="btn btn-success">Thêm mới</a>
</p>
